<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="不超过150个字符"/>
    <meta name="keywords" content=""/>
    <title>趣村游</title>
    <style>

        html {
            font-size: 100px;
        }

        body {
            font-size: 0.14rem; /*实际相当于14px*/
            margin: 0;
        }

        .body {
            width: 100%;
            height: 100%;
            background: url("http://app-image-test.cunyougo.com/web.png") no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            overflow: hidden;

        }
    </style>
</head>

<body>
<div class="body">
</div>
</body>
</html>